body {
	background: #6C1400 url(../images/dr_bgbody2.gif) repeat-y center top;
	font: normal 0.7em Tahoma,Verdana,sans-serif;
}



#header {

	background: #D91623 url(../images/dr_bgheader.gif) repeat-x;
	height: 180px;

	width: 678px; 
margin-left:auto; 
margin-right:auto;	
margin-top: -8px; 
}


#header h1 {
	margin: 0;
	padding: 124px 0 0 24px;
	font: normal 2.2em Verdana,sans-serif;
	color: #fff; 
	
	
}

/* main navigation */
#menu {
		background: #CC2224 url(../images/dr_grdnt_red.png) repeat-x;
		margin-left: 0px; 
		margin-bottom: 50px; 
		margin-top: 26px; 
}

#menu ul {
		margin-left: 0px; 

}


#menu a{
	border-bottom: 1px solid #FFF;
	display: block;
	font: bold 0.9em Verdana,sans-serif;
	height: 18px;
	padding: 6px 0 0 10px;
	text-decoration: none;
	
	color: #FFF;
	cursor: pointer;
	text-decoration: none;
	
	
}
#menu a:hover {background: #444;}

#menu li {
	list-style: none; 
}

.visual {
	display: none; 
}


#content {


	margin-top: 160px; 
	width: 640px;
	 
	margin-left:auto; 
	margin-right:auto;
	background: transparent; 
	

	}



#infotext {

	width: 520px; 


	background: url(../images/dr_quote.gif) no-repeat;
	color: #555;

	font: bold 1.2em "Trebuchet MS",serif;
	margin: 6px 0;
	padding-left: 28px;
}



#text { 
margin-left:auto; 
margin-right:auto;	



	
	
	background: transparent; 
	}

#text p,  {	
	margin-bottom: 1em;
	}

#huinfo {
	display: normal; 
}


#footer{	
	background: #fff url(../images/dr_bgcode.gif) repeat-x;

	width:620px; 

	margin-top:27px; 
	margin-left:auto; 
	margin-right:auto;  
	border-top: 1px solid #D91623;  
	text-align: left;  
	padding-top: 25px; 
	padding-bottom: 25px; 	
	  
}
	
#footer p {
	color: #333; 
	margin-bottom: -10px; 
	line-height: 100%; 
}

#footer a, #footer a:visited  {
	color: #D91623; 
}

#text li {
	list-style: url(../images/dr_li.gif);
	margin-left: 18px;
}


#left 
{
	display: none; 
}

#right
{
	display: none; 
}

#content h1, #content h2, #content h3 {

	color: #444;
	font: normal 2em sans-serif;
	margin: 18px 0 0 0;

}